@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro')
*
  padding: 0
  margin: 0
  scroll-behavior: smooth

html body
  background-color: #bdc3c7
.myPhoto
  width: 250px
  display: block
  margin-left: auto
  margin-right: 70px
  border-radius: 25px 0 25px 0
  transition: all .5s
  &:hover
    transform: translate(20px,15px)
    box-shadow: -20px -11px 3px -1px #ffffff91
.Introduction
  background-color: #000
  display: flex
  justify-content: center
  align-items: center
.contentrow
  padding-top: 50px
  padding-bottom: 50px
  height: 650px
  display: flex
  align-items: center
.info
  h1
    color: #fff
    margin-bottom: 30px
  div
    margin-bottom: 20px
  h5
    color: #636e72

  h3
    color: #636e72
.Education
  display: flex
  padding-left: 0
  padding-right: 0
  padding-top: 30px
  background-color: #aaa69d
  height: 700px
  align-items: center
  justify-content: center
  border-bottom: 5px solid #000
  transition: background .5s ease-in
  &:hover
    background: #AAA69D
    background: linear-gradient(to left, #AAA69D, #5F5844)
  .education-button
    display: flex
    h1
      padding-bottom: 50px
      padding-top: 30px
  .education-row
    display: none
    transition: transform .4s
    &:hover
      transform: scale(0.95)
.edu-card
  border-radius: 10px
  background: #020C19
  padding: 15px 16px
  color: #fff
  height: 100%
  display: flex
.column-card
  padding-left: 5px !important
  padding-right: 5px !important
  margin-top: 10px
  .inner-edu
    margin: auto
    h3
      text-align: center
      margin-bottom: 40px
.skills
  background-color: #aaa69d
  border-bottom: 5px solid #000
  height: 700px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  transition: background .5s ease-in
  &:hover
    background: #AAA69D
    background: linear-gradient(to right, #AAA69D, #5F5844)
  .skill-button
    display: flex
    h1
    text-align: center
    padding-top: 50px
    padding-bottom: 50px
  .skills-card
    background-color: #020C19
    text-align: center
    color: #fff
    padding: 30px 30px
    display: none
    flex-direction: column
    width: 1300px
    border-radius: 20px
    transition: transform .4s
    &:hover
      transform: scale(0.95)
    .skills-container
      h3
        text-shadow: 2px 5px #2C3A47
        font-size: 50px
        margin-bottom: 20px
    .tech-heading
      margin-top: 40px
      margin-bottom: 20px

.projects_tab
  background-color: #aaa69d
  color: #fff
  height: 700px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  border-bottom: 5px solid #000
  transition: background .5s ease-in
  &:hover
    background: #AAA69D
    background: linear-gradient(to left, #AAA69D, #5F5844)
  .project-title
    display: flex
    color: #000
    h1
      text-align: center
      padding-top: 50px
      padding-bottom: 50px
  .projects_hider
    display: none
    transition: transform .4s
    &:hover
      transform: scale(0.95)
  .projectscol
    margin: 15px auto
    background-color: #020C19
    border-radius: 10px
    text-align: center
    h3
      margin-top: 30px
    p
      margin-top: 30px
      font-size: 20px

.intern_tab
  background-color: #aaa69d
  color: #fff
  height: 700px 
  border-bottom: 5px solid #000
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  transition: background .5s ease-in
  &:hover
    background: #AAA69D
    background: linear-gradient(to right, #AAA69D, #5F5844)
  .intern-title
    color: #000
    h1
      text-align: center
      padding-top: 50px
      padding-bottom: 50px
  .Intern_hider
    display: none
    transition: transform .4s
    &:hover
      transform: scale(0.95)
  .interncol
    margin: 30px auto
    background-color: #020C19
    border-radius: 10px
    text-align: center
    h3
      margin-top: 30px
    p
      margin-top: 30px
      font-size: 20px

.certificate_tab
  background-color: #aaa69d
  color: #fff
  height: 700px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  transition: background .5s ease-in
  &:hover
    background: #AAA69D
    background: linear-gradient(to left, #AAA69D, #5F5844)
  .certificate-title
    color: #000
    h1
      text-align: center
      padding-top: 50px
      padding-bottom: 50px
  .certi_hider
    display: none
    transition: transform .4s
    &:hover
      transform: scale(0.95)
  .certificatecol
    margin: 15px auto
    background-color: #020C19
    border-radius: 10px
    text-align: center
    h3
      margin-top: 30px
    p
      margin-top: 30px
      font-size: 20px
    .CertificateLink
      text-decoration: none
      display: block
      height: 50px
      line-height: 50px
      width: 200px
      margin-left: auto
      margin-right: auto
      border: 2px solid #fff
      color: #fff
    .Amarginbot
      margin-bottom: 20px
    .Amargintop
      margin-top: 60px
.Footer-main
  height: auto
  background-color: #020C19
  padding: 30px 20px
  .footerContainer
    background-color: #aaa69d
    padding: 10px 15px
    border-radius: 20px
    .ContactMe
      padding: 20px 50px
      .ContactLinks
        display: flex
        justify-content: space-around
        .linkedinL
          display: flex
          img
            height: 70px
            width: 70px
            transition: transform .5s
            &:hover
              transform: scale(1.5)
        .gmailL
          display: flex
          img
            height: 70px
            width: 70px
            transition: transform .5s
            &:hover
              transform: scale(1.7)
#parent
  white-space: nowrap
  overflow: hidden
  position: relative
  color: rgba(255,255,255,.70)
  font-family: 'Source Code Pro', monospace
  font-size: 28px
  animation: animated-text 2s steps(30,end) 1s 1 normal both
#border
  right: -7px
  width: 20px
  position: absolute
  border-bottom: solid 3px rgba(0,255,0,.75)
  animation: animated-cursor 600ms steps(30,end) infinite

@keyframes animated-text
  0%
    width: 0
  100%
    width: 480px
@keyframes animated-cursor
  0%
    border-bottom-color: rgba(0,255,0,0.75)
  100%
    border-bottom-color: transparent
