@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }

html body {
  background-color: #bdc3c7; }

.myPhoto {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: 70px;
  border-radius: 25px 0 25px 0;
  transition: all 0.5s; }
  .myPhoto:hover {
    transform: translate(20px, 15px);
    box-shadow: -20px -11px 3px -1px #ffffff91; }

.Introduction {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center; }

.contentrow {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 650px;
  display: flex;
  align-items: center; }

.info h1 {
  color: #fff;
  margin-bottom: 30px; }
.info div {
  margin-bottom: 20px; }
.info h5 {
  color: #636e72; }
.info h3 {
  color: #636e72; }

.Education {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  background-color: #aaa69d;
  height: 700px;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #000; }
  .Education:hover {
    background-color: #817d71; }
  .Education .education-button {
    display: flex; }
    .Education .education-button h1 {
      padding-bottom: 50px;
      padding-top: 30px; }
  .Education .education-row {
    display: none; }

.edu-card {
  border-radius: 10px;
  background: #020C19;
  padding: 15px 16px;
  color: #fff;
  height: 100%;
  display: flex; }

.column-card {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-top: 10px; }
  .column-card .inner-edu {
    margin: auto; }
    .column-card .inner-edu h3 {
      text-align: center;
      margin-bottom: 40px; }

.skills {
  background-color: #aaa69d;
  border-bottom: 5px solid #000;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .skills:hover {
    background-color: #817d71; }
  .skills .skill-button {
    display: flex;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; }
  .skills .skills-card {
    background-color: #020C19;
    text-align: center;
    color: #fff;
    padding: 30px 30px;
    display: none;
    flex-direction: column;
    width: 1300px;
    border-radius: 20px; }
    .skills .skills-card .skills-container h3 {
      text-shadow: 2px 5px #2C3A47;
      font-size: 50px;
      margin-bottom: 20px; }
    .skills .skills-card .tech-heading {
      margin-top: 40px;
      margin-bottom: 20px; }

.projects_tab {
  background-color: #aaa69d;
  color: #fff;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid #000; }
  .projects_tab:hover {
    background-color: #817d71; }
  .projects_tab .project-title {
    display: flex;
    color: #000; }
    .projects_tab .project-title h1 {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px; }
  .projects_tab .projects_hider {
    display: none; }
  .projects_tab .projectscol {
    margin: 15px auto;
    background-color: #020C19;
    border-radius: 10px;
    text-align: center; }
    .projects_tab .projectscol h3 {
      margin-top: 30px; }
    .projects_tab .projectscol p {
      margin-top: 30px;
      font-size: 20px; }

.intern_tab {
  background-color: #aaa69d;
  color: #fff;
  height: 700px;
  border-bottom: 5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .intern_tab:hover {
    background-color: #817d71; }
  .intern_tab .intern-title {
    color: #000; }
    .intern_tab .intern-title h1 {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px; }
  .intern_tab .Intern_hider {
    display: none; }
  .intern_tab .interncol {
    margin: 30px auto;
    background-color: #020C19;
    border-radius: 10px;
    text-align: center; }
    .intern_tab .interncol h3 {
      margin-top: 30px; }
    .intern_tab .interncol p {
      margin-top: 30px;
      font-size: 20px; }

.certificate_tab {
  background-color: #aaa69d;
  color: #fff;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .certificate_tab:hover {
    background-color: #817d71; }
  .certificate_tab .certificate-title {
    color: #000; }
    .certificate_tab .certificate-title h1 {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px; }
  .certificate_tab .certi_hider {
    display: none; }
  .certificate_tab .certificatecol {
    margin: 15px auto;
    background-color: #020C19;
    border-radius: 10px;
    text-align: center; }
    .certificate_tab .certificatecol h3 {
      margin-top: 30px; }
    .certificate_tab .certificatecol p {
      margin-top: 30px;
      font-size: 20px; }
    .certificate_tab .certificatecol .CertificateLink {
      text-decoration: none;
      display: block;
      height: 50px;
      line-height: 50px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid #fff;
      color: #fff; }
    .certificate_tab .certificatecol .Amarginbot {
      margin-bottom: 20px; }
    .certificate_tab .certificatecol .Amargintop {
      margin-top: 60px; }

.Footer-main {
  height: auto;
  background-color: #020C19;
  padding: 30px 20px; }
  .Footer-main .footerContainer {
    background-color: #aaa69d;
    padding: 10px 15px;
    border-radius: 20px; }
    .Footer-main .footerContainer .ContactMe {
      padding: 20px 50px; }
      .Footer-main .footerContainer .ContactMe .ContactLinks {
        display: flex;
        justify-content: space-around; }
        .Footer-main .footerContainer .ContactMe .ContactLinks .linkedinL {
          display: flex; }
          .Footer-main .footerContainer .ContactMe .ContactLinks .linkedinL img {
            height: 70px;
            width: 70px;
            transition: transform 0.5s; }
            .Footer-main .footerContainer .ContactMe .ContactLinks .linkedinL img:hover {
              transform: scale(1.5); }
        .Footer-main .footerContainer .ContactMe .ContactLinks .gmailL {
          display: flex; }
          .Footer-main .footerContainer .ContactMe .ContactLinks .gmailL img {
            height: 70px;
            width: 70px;
            transition: transform 0.5s; }
            .Footer-main .footerContainer .ContactMe .ContactLinks .gmailL img:hover {
              transform: scale(1.7); }
              @media (max-width: 576px) {
                .contentrow{
                  height: auto;
                }
                .typing-anime{
                  display: none;
                }
                .info h1{
                  text-align: center;
                  margin-top: 40px
                }
                .myPhoto{
                  margin-right: auto;
                  width: 300px;
                }
                .info h5{
                  text-align: center;
                }
                .skills-card-heading{
                  font-size: 35px !important;
                }
                .skills-card h5{
                  font-size: 20px;
                }
                .navbar-brand{
                  align-self: center;
                }
                .Education{
                  height:auto;
                }
                .skills{
                  height:auto;
                }
                .skills-card{
                  width:auto !important;
                }
                .projects_tab{
                  height: auto;
                }
                .intern_tab{
                  height: auto;
                }
                .certificate_tab{
                  height: auto;
                }
              }
      @media (min-width: 576px) and (max-width: 966px){
          .myPhoto{
              margin-right: auto;
          }
          .skills-card{
            width:auto !important;
          }
      }

#parent {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  animation: animated-text 2s steps(30, end) 1s 1 normal both; }

#border {
  right: -7px;
  width: 20px;
  position: absolute;
  border-bottom: solid 3px rgba(0, 255, 0, 0.75);
  animation: animated-cursor 600ms steps(30, end) infinite; }

@keyframes animated-text {
  0% {
    width: 0; }
  100% {
    width: 480px; } }
@keyframes animated-cursor {
  0% {
    border-bottom-color: rgba(0, 255, 0, 0.75); }
  100% {
    border-bottom-color: transparent; } }

/*# sourceMappingURL=style.css.map */
