@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }

html body {
  height: 3000px;
  background-color: #bdc3c7; }

.myPhoto {
  width: 250px;
  height: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px 0 25px 0; }

.Introduction {
  background-color: #000; }

.contentrow {
  padding-top: 50px;
  padding-bottom: 50px; }

.info h1 {
  color: #fff;
  margin-bottom: 30px; }
.info div {
  margin-bottom: 20px; }
.info h5 {
  color: #636e72; }
.info h3 {
  color: #636e72; }

.Education {
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  background-color: #aaa69d; }
  .Education h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px; }

.edu-card {
  border-radius: 10px;
  background: #020C19;
  padding: 15px 16px;
  color: #fff;
  height: 100%;
  display: flex; }

.column-card {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-top: 10px; }
  .column-card .inner-edu {
    margin: auto; }
    .column-card .inner-edu h3 {
      text-align: center;
      margin-bottom: 40px; }

.skills {
  background-color: #aaa69d; }
  .skills h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; }
  .skills .skills-card {
    background-color: #020C19;
    text-align: center;
    color: #fff;
    padding: 30px 30px; }
    .skills .skills-card h3 {
      text-shadow: 2px 5px #2C3A47;
      font-size: 50px;
      margin-bottom: 20px; }
    .skills .skills-card .tech-heading {
      margin-top: 40px;
      margin-bottom: 20px; }

.projects_tab {
  background-color: #aaa69d;
  color: #fff; }
  .projects_tab .project-title {
    color: #000; }
    .projects_tab .project-title h1 {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px; }
  .projects_tab .projectscol {
    margin: 15px auto;
    background-color: #020C19;
    border-radius: 10px;
    text-align: center; }
    .projects_tab .projectscol h3 {
      margin-top: 30px; }
    .projects_tab .projectscol p {
      margin-top: 30px;
      font-size: 20px; }

.intern_tab {
  background-color: #aaa69d;
  color: #fff; }
  .intern_tab .intern-title {
    color: #000; }
    .intern_tab .intern-title h1 {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px; }
  .intern_tab .interncol {
    margin: 15px auto;
    background-color: #020C19;
    border-radius: 10px;
    text-align: center; }
    .intern_tab .interncol h3 {
      margin-top: 30px; }
    .intern_tab .interncol p {
      margin-top: 30px;
      font-size: 20px; }

.certificate_tab {
  background-color: #aaa69d;
  color: #fff; }
  .certificate_tab .certificate-title {
    color: #000; }
    .certificate_tab .certificate-title h1 {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px; }
  .certificate_tab .certificatecol {
    margin: 15px auto;
    background-color: #020C19;
    border-radius: 10px;
    text-align: center; }
    .certificate_tab .certificatecol h3 {
      margin-top: 30px; }
    .certificate_tab .certificatecol p {
      margin-top: 30px;
      font-size: 20px; }
    .certificate_tab .certificatecol .CertificateLink {
      text-decoration: none;
      display: block;
      height: 50px;
      line-height: 50px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid #fff;
      color: #fff; }
    .certificate_tab .certificatecol .Amarginbot {
      margin-bottom: 20px; }
    .certificate_tab .certificatecol .Amargintop {
      margin-top: 60px; }

#parent {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  animation: animated-text 2s steps(30, end) 1s 1 normal both; }

#border {
  right: -7px;
  width: 20px;
  position: absolute;
  border-bottom: solid 3px rgba(0, 255, 0, 0.75);
  animation: animated-cursor 600ms steps(30, end) infinite; }

  @media (max-width: 576px) {
    .typing-anime{
      display: none;
    }
    .info h1{
      text-align: center;
      margin-top: 40px
    }
    .info h5{
      text-align: center;
    }
    .skills-card-heading{
      font-size: 35px !important;
    }
    .skills-card h5{
      font-size: 20px;
    }
    .navbar-brand{
      align-self: center;
    }
  }

@keyframes animated-text {
  0% {
    width: 0; }
  100% {
    width: 480px; } }
@keyframes animated-cursor {
  0% {
    border-bottom-color: rgba(0, 255, 0, 0.75); }
  100% {
    border-bottom-color: transparent; } }

/*# sourceMappingURL=style.css.map */
